<div class="container-fluid bg-muted">
  <div class="row">
    <div class="col-12">
      <h1 class="text-bold text-center justify-content-center">Laptops for sale!</h1>
    </div>
    <div class="col-8 offset-2" id="card" style="margin-top: 100px;">
      {{#if laptops.length}}
        <table class="table">
          <thead>
            <tr>
              <th
                scope="col"
                class="text-center justify-content-center"
              >Quality</th>
              <th scope="col">Title</th>
              <th scope="col">Price</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          {{#each laptops}}
            <tr>
              <th class="row text-center justify-content-center">{{count}}</th>
              <td>{{title}}</td>
              <td>{{price}}</td>
              <td>
                <button
                  data-id="{{id}}"
                  class="btn btn-danger js-remove"
                >Delete</button>
              </td>
            </tr>
          {{/each}}
          <tr>
            <td></td>
          </tr>
        </table>
        <div class="text-center justify-content-center"><h1><b>Total price: ${{price}}</b></h1></div>
      {{else}}
        <div class="container-fluid mt-100">
          <div class="row">
            <div class="col-md-12">
              <div class="card" style="height: 350px;">
                <div class="card-header">
                  <h5>Cart</h5>
                </div>
                <div class="card-body cart">
                  <div class="col-sm-12 empty-cart-cls text-center">
                    <img
                      src="https://i.imgur.com/dCdflKN.png"
                      width="130"
                      height="130"
                      class="img-fluid mb-4 mr3"
                      alt=""
                    />
                    <h3><strong>Your Cart is Empty</strong></h3>
                    <h4>Add something to make me happy :)</h4>
                    <a href="/products" class="btn btn-primary cart-btn-transform m-3">CONTINUE SHOPPING</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {{/if}}
    </div>
  </div>
</div>