<div class="container bg-muted">
  <div class="row">
    <div class="col-12">
      <h1 class="text-bold text-center justify-content-center">Laptops for sale!</h1>
    </div>
    <div class="col-12">
      {{#if laptops.length}}
        <div class="card-box">
          {{#each laptops}}
            <div class="card" style="width: 17rem;">
              <img src="{{img}}" class="card-img-top" alt="{{title}}" />
              <hr />
              <div class="card-body m-0">
                <h5 class="card-title">{{title}}</h5>
                <p class="card-text"><h4><b>Laptop price ${{price}}</b></h4></p>
                <p class="card-text" id="description">{{description}}</p>
              </div>
              <div class="card-footer text-center justify-content-center">
                <a
                  id="details"
                  href="/products/{{id}}"
                  class="btn btn-info btn-lg btn-block text-center"
                >Laptop details</a>
              </div>
            </div>
          {{/each}}
        </div>
      {{else}}
        <h1>Nothing found!!!</h1>
      {{/if}}
      <br />
    </div>
  </div>
</div>