<<<<<<< HEAD
<div class="container">
  <div class="row">
      <h1 class="text-center justify-content-center mb-4">Laptops for sale</h1>
    <div class="col-11 offset-1 text-center justify-content-center" id="product">
      {{#if laptops.length}}
      {{#each laptops}}
      <div class="card" style="width: 18rem;">
        <img src="{{img}}" class="card-img-top" alt="{{title}}" />
        <div class="card-body">
          <h5 class="card-title">{{title}}</h5>
          <p class="card-text">Laptop price: ${{price}}</p>
          <p class="card-text">{{description}}</p>
          <a href="/products/{{id}}" class="btn btn-primary">Laptop details</a>
        </div>
      </div>    
      {{/each}}
    </div>
      {{else}}
      <h2>Nothing</h2>
      {{/if}}
=======
<div class="container bg-muted">
  <div class="row">
    <div class="col-12">
      <h1 class="text-bold text-center justify-content-center">Laptops for sale!</h1>
    </div>
    <div class="col-10 offset-1">
      {{#if laptops.length}}
        <div class="card-box">
          {{#each laptops}}
            <div class="card" style="width: 18rem;">
              <img src="{{img}}" class="card-img-top" alt="{{title}}" />
              <hr />
              <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                <p class="card-text">Laptop price ${{price}}</p>
                <p class="card-text" id="description">{{description}}</p>
                <hr />
                <a
                  href="/products/{{id}}"
                  class="btn btn-primary text-center"
                >Laptop details</a>
              </div>
            </div>
          {{/each}}
        </div>
      {{else}}
        <h1>Nothing found!!!</h1>
      {{/if}}
      <br />
    </div>
  </div>
</div>

<div class="container">
  <div class="row">

  </div>
  <div class="col-10 offset-1">

>>>>>>> 6b29ae0d0a6e481f5ec8da84bb7deb9b254dd83a
  </div>
</div>