<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>{{laptop.title}}</h1>
      <div class="laptop-img">
        <img src="{{laptop.img}}" alt="{{laptop.title}}">
      </div>
      <p class="laptop-description">
        {{laptop.description}}
      </p>
    </div>
    <div class="laptop-price">
      <h1>{{laptop.price}}</h1>
    </div>
  </div>
</div>