<div class="container bg-muted">
  <div class="row">
    <div class="col-12">
      <h1 class="text-bold text-center justify-content-center">Laptops for sale!</h1>
    </div>
    <div class="col-12">
      {{#if laptops.length}}
        <div class="card-box">
          {{#each laptops}}
            <div class="card" style="width: 17rem;">
              <img src="{{img}}" class="card-img-top" alt="{{title}}" />
              <hr />
              <div class="card-body m-0">
                <h5 class="card-title">{{title}}</h5>
                <p class="card-text"><h4><b>Laptop price ${{price}}</b></h4></p>
                <p class="card-text" id="description">{{description}}</p>
              </div>
              <div class="card-footer p-0 m-0">
                <a
                  id="details"
                  href="/products/{{id}}"
                  target="_blank"
                  class="btn btn-outline-info text-center"
                >Laptop details</a>

                <a
                  id="details"
                  href="/products/{{id}}/edit?allow=true"
                  target="_blank"
                  class="btn btn-outline-info text-center"
                >Edit Laptop</a>
                <form action="/card/add" method="post" class="text-center justify-content-center">
                  <input type="hidden" name="id" value="{{id}}">
                  <button type="submit" class="btn btn-outline-primary btn-block">Add card</button>
                </form>
              </div>
            </div>
          {{/each}}
        </div>
      {{else}}
        <h1>Nothing found!!!</h1>
      {{/if}}
      <br />
    </div>
  </div>
</div>