<div class="container single-laptop">
  <div class="row">
    <div class="col-lg-12">
      <div class="laptop">
        <h1 class="laptop-title text-center justify-content-center">{{laptop.title}}</h1>
        <img src="{{laptop.img}}" alt="{{laptop.title}}" class="laptop-img ">
        <p class="price"><h1>Laptop price:  ${{laptop.price}}</h1></p>
        <p class="laptop-description">{{laptop.description}}</p>
      </div>
    </div>
  </div>
</div>