{{!-- <div class="container single-laptop">
  <div class="row">
    <div class="col-lg-8">
      <div class="laptop">
        
    
      </div>
    </div>
  </div>
</div> --}}

<div class="container">
  <div class="row">
    <div class="col-12 text-center justify-content-center"><h1 class="laptop-title">{{laptop.title}}</h1></div>
    <div class="col-5">
        <img src="{{laptop.img}}" alt="{{laptop.title}}" class="laptop-img ">
    </div>
    <div class="col-5 pt-4 offset-1">
    <p class="price"><h1>Laptop price:  ${{laptop.price}}</h1></p>
        <p class="laptop-description">{{laptop.description}}</p>
    </div>
  </div>
</div>