<div class="container-fluid">
  <div class="row">
    <div class="col-12">
  <h1 class="text-center justify-content-center">Edit Laptop details</h1>
</div>
<div class="col-5 d-flex flex-column">
  <img src="{{laptop.img}}" alt="{{laptop.title}}" class="laptop-img" />
</div>
<div id="Update-page" class="col-4 offset-1 mt-4  d-flex flex-column shadow" style="border: none">
  <form action="/products/edit" class="mt-4 offset-1 cl-8" method="POST">
    <div class="form-group">
      <label for="exampleInputEmail1">Laptop model</label>
      <input
        type="text"
        class="form-control"
        id="title"
        name="title"
        required
        value="{{laptop.title}}"
      />
      <br />

      <label for="exampleInputEmail1">Laptop price</label>
      <input
        type="number"
        class="form-control"
        id="price"
        name="price"
        value="{{laptop.price}}"
      />
      <br />

      <label for="exampleInputEmail1">Laptop description</label>
      <textarea
        class="form-control"
        id="description"
        name="description"
        rows="3"
      >{{laptop.description}}</textarea>
      <br />

      <label for="exampleInputEmail1">URL image</label>
      <input
        type="text"
        class="form-control"
        id="img"
        name="img"
        value="{{laptop.img}}"
      />
    </div>
    <input type="hidden" name="id" value="{{laptop.id}}" />
    <button class="btn btn-outline-info">Update Laptop</button>
  </form>
  <form class="mt-1 offset-1 cl-8" action="/products/remove" method="post">
    <input type="hidden" name="id" value="{{laptop.id}}" />
    <button class="btn btn-outline-danger">Delete Laptop</button>
  </form>
</div>
  </div>
</div>